<h1 class="mt-5">Selectores Anidados</h1>
<hr>
<form action="" [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col-md-12 mb-2">
      <label class="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option value=""> Seleccione Continente</option>
        <option *ngFor="let region of regiones" [value]="region | lowercase">{{ region }}</option>
      </select>
    </div>
    <div class="col-md-12 mb-2" *ngIf="paises.length !==0">
      <label class="form-label">Pais:</label>
      <select class="form-control" formControlName="pais">
        <option value=""> Seleccione Pais</option>
        <option *ngFor="let pais of paises" [value]="pais.alpha3Code">{{ pais.name }}</option>
      </select>
    </div>
    <div class="col-md-12 mb-2" *ngIf="fronteras.length > 0">
      <label class="form-label">Fronteras:</label>
      <select class="form-control" formControlName="frontera">
        <option value=""> Seleccione Frontera</option>
        <option *ngFor="let frontera of fronteras" [value]="frontera">{{ frontera }}</option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="cargando">
    <div class="col">
      <div class="alert alert-primary">Cargando....</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end mt-3" type="submit">Seleccionar</button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<pre>Valid: {{ miFormulario.valid}}</pre>
<pre>Value: {{ miFormulario.value | json}}</pre>
